<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Append file</title>
</head>
<body>
    <h1>Append data into file</h1>
    <form action="/append-file" method="post">
        
    <label for="filename">filename:</label>
    <input type="text" name="filename" placeholder="filename...">

    <label for="content">content:</label>
    <textarea name="content"></textarea>

    <button>append content to file</button>
    </form>

</body>
</html>