<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create file</title>
</head>
<body>
    <form action="/create-file" method="post">
        
    <label for="filename">filename:</label>
    <input type="text" name="filename" placeholder="filename..." required>

    <label for="content">content:</label>
    <textarea name="content"></textarea>

    <button>create file</button>
    </form>

</body>
</html>